<nav class="navbar fixed-to navbar-expand-lg navbar-dark navbar-custom bg-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">C&H</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav center me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link bright-text" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bright-text" routerLink="/meals">Meals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bright-text" routerLink="/foods">Foods</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bright-text" href="#">Plan Your Week</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bright-text" href="#">About</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
