<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
      <button type="button" class="btn btn-secondary" routerLink="/foods/food-selection">Meats</button>
      <button type="button" class="btn btn-secondary" routerLink="/foods/food-selection">Vegetables</button>
      <button type="button" class="btn btn-secondary" routerLink="/foods/food-selection">Fruits</button>
      <button type="button" class="btn btn-secondary" routerLink="/foods/food-selection">Grains</button>
      <button type="button" class="btn btn-secondary" routerLink="/foods/food-selection">Spices</button>
      <button type="button" class="btn btn-secondary" routerLink="/foods/food-selection">Drinks</button>
    </div>
</div>

<router-outlet></router-outlet>