<div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">Welcome to Cheaper and Healthier! A one stop shop for recipes, food and nutrituion information, cooking tips and more!</p>
    <hr class="my-4">
    <h3>I do it a little differently here:</h3>
    <p>1. No fake life stories like how my grandma, an Irish German immigrant, cooked this schnitzel, a hallmark of my childhood</p>
    <p>2. I'm not selling you my book or inundating you with an ads that cover 80% of the screen</p>
    <p>3. Not peddling my overly salted spice mix or cheap merch.</p>
</div>
