.food-table{
    width: 100%;
  }

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.mat-column-id {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
    position: sticky;
}

.mat-column-select {
    overflow: initial;
}

.mat-column-name {
    font-size: 1.5em;
}

.mat-sort-header-sorted {
    color: blue;
}